:root {
  --color-primary: hsl(258, 48%, 50%);
  --color-secondary: hsl(196, 61%, 50%);
  --color-tertiary: hsl(337, 92%, 50%);
  --color-quaternary: hsl(60, 100%, 50%);
  --color-monochrome: hsl(0, 0%, 50%);
}
